# Add any directories, files, or patterns you don't want to be tracked by version control

# External dependencies
3rdparty

# Compiled source
*.o
*.d
*.a
*.so

# Compiled Java class files
*.class

# Package files
*.jar

# Compiled Python bytecode
*.py[cod]

# Compiled LaTeX and Logs
*.aux
*.blg
*.bbl
*.log
*.out
*.tui
*.top
*.synctex.gz
*.pdf

# Unit test reports
TEST*.xml

# OSX files
.DS_Store

# Eclipse files
.settings
.cproject
.project

# VScode files
.vscode
*.code-workspace

# Image files
*.png
*.jpg
*.tiff
